.order {
  height: 100vh;
  padding: 25px;
  background-color: #1f1d2b;

  width: 600px;
  position: fixed;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: hidden;

  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: white;

    height: 132px;
  }
}
.order-header-info {
  display: flex;
  justify-content: space-between;

  p:first-child {
    flex-grow: 2;
  }

  p:last-child {
    width: 75px;
    text-align: right;
  }
}

.order-header-selectors {
  display: flex;
  p {
    color: #ea7c69;
    background-color: #1f1d2b;
    border: 1px solid #393c49;
    border-radius: 5px;
    padding: 8px;
    margin-right: 10px;

    cursor: pointer;
    transition: border 0.2s ease;

    &:hover {
      border-color: #ea7c69;
    }
  }
}

.active-button {
  border: none !important;
  background-color: #4eb112 !important;
  color: white !important;
}

.order-content-item {
  margin: 25px 0;
}

.order-item-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex-grow: 2;
  }

  img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }

  h4:last-child {
    width: 65px;
    text-align: right;
  }
}

.order-content {
  border-top: 1px solid #393c49;
  border-bottom: 1px solid #393c49;

  overflow: hidden;

  height: 400px;
}

.order-item-quantity {
  background-color: #2d303e;
  width: 40px;
  height: 40px;

  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;
}

.order-item-note {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  input {
    flex-grow: 2;
    border-radius: 5px;
    background-color: #2d303e;
    border: none;
    padding-left: 25px;
    color: white;

    &:focus {
      outline: none;
    }
  }

  div {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #ff7ca3;
    border-radius: 5px;

    cursor: pointer;
    transition: border-width 0.2s ease;

    &:hover {
      border-width: 3px;
    }

    margin-left: 17px;
  }
}

.order-disacount {
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: bold;

  p:first-child {
    font-weight: lighter;
    color: #abbbc2;
    font-size: 0.85em;
    margin-bottom: 10px;
  }
}

.order-subtotal {
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: bold;

  p:first-child {
    font-weight: lighter;
    color: #abbbc2;
    font-size: 0.85em;
    margin: 10px 0;
  }
}

.order-payment {
  height: 48px;
  background-color: #ea7c69;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;

  cursor: pointer;

  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0px 0px 20px 10px #ea7c692f;
  }
}
