.sidebar {
  padding: 20px 0px;
  background-color: #1f1d2b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 15px 15px 0px;

  position: fixed;
  width: 104px;
}

.sidebar-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.sidebar-logo {
  background-color: #ea966942;
  width: 56px;
  height: 56px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;
  img {
    width: 36px;
    height: 36px;
  }
}

.sidebar-logout {
  width: 56px;
  height: 56px;

  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;

  border-color: #ea7c6900;
  transition: border 0.2s ease-in-out;

  &:hover {
    border: 2px solid #ea7c69;
  }
}

.sidebar-menu-item {
  width: 56px;
  height: 56px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 10;

  cursor: pointer;

  border-radius: 15px;

  border-color: #ea7c6900;
  transition: border 0.2s ease-in-out;

  &:hover {
    border: 2px solid #ea7c69;
  }
}

.active-item > * {
  position: relative;
  z-index: 10;
}

.active-item {
  &::before {
    content: url("../images/sidebar-active-item.svg");
    position: absolute;
    z-index: 0;
    left: -10px;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 56px;
    height: 56px;
    background-color: #ea7c69;
    border-radius: 15px;
  }
}
